@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background-color: #E3CDA6; */
  margin: 0px;
  padding: 0px;

}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 45%;
  left: 101%;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.card{
  position:relative;
  background:#131b33;
  width:300px;
  height:300px;
}
.card span:nth-child(1){
  position: absolute;
  
}
.viewer_3Dmoljs {
  height: 400px;
  width: 400px;
  position: relative;
}

/* .row{
  display: inline-flex;
  margin-left: -50px;
  margin-top: -32px;
  overflow: hidden;
}
.row:nth-child(even){
  margin-left: 1px;
}
.pol{
  width: 100px;
  height: 110px;
  margin: 2px;
  background-color: #000300;
  clip-path: polygon(50% 0,100% 25%,100% 75%, 50% 100%, 0% 75%,0% 25%);
  /* animation: animation 4s linear infinite; */
  /* transition: 1s; */
/* }
.hexagon{
  width: 100px;
  height: 110px;
  margin: 2px;
  background-color: #111;
  clip-path: polygon(50% 0,100% 25%,100% 75%, 50% 100%, 0% 75%,0% 25%);
  animation: animation 4s linear infinite;
  transition: 1s;
  

}
.hexagon:hover{
  background-color: #0f0;
  transition: 0s;
}
@keyframes animation {
  0%{
    filter: hue-rotate(0deg);

  }
  100%{filter: hue-rotate(360deg);}
}
.hexagon:after{
  content:'';
  position: absolute;
  top:4px;
  bottom:4px;
  left:4px;
  right:4px;
  background-color: #111;
  clip-path: polygon(50% 0,100% 25%,100% 75%, 50% 100%, 0% 75%,0% 25%);

}
.hexagon:before{
  /* font-weight: bolder; */
  
  /* content:'';
  position: absolute;
  width: 50%;
  height:100%;
  background-color: rgba(255,255,255,0.03);
  z-index:3;
  
   */ 
  /* display: flex;
  justify-content: right;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold; */ 
/* } */